server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/portfolio}
    username: ${SPRING_DATASOURCE_USERNAME:portfolio}
    password: ${SPRING_DATASOURCE_PASSWORD:portfolio}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

app:
  priceSource:
    baseUrl: ${APP_PRICE_SOURCE_BASEURL:https://www.wafabourse.com}
    endpointPath: /api/proxy/data/JNNJ
