server:
  port: 8080

spring:
  datasource:
    url: jdbc:sqlite:./data/portfolios/default.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        jdbc:
          time_zone: UTC

app:
  portfolios:
    dir: ./data/portfolios
  priceSource:
    baseUrl: ${APP_PRICE_SOURCE_BASEURL:https://www.wafabourse.com}
    endpointPath: /api/proxy/data/JNNJ
